html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    font: 1.3px/25px 'welearn','Myriad pro', 'Tahoma';
    direction: rtl;
}

.no-padding{
    padding: 0;
}

img{
    max-width: 100%;
 
}


a{
    transition:all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}
.container-fluid{
    display: flex;
    

}

.container .btn{
    color: #373737;
    background:#fdfdfd ;
    border-radius: 25px;
    font-size: 15px;
}

header{
    width: 100%;
    position: relative;
    min-height: auto;
    color: #fff;
    text-align: center;
    background: url(./img/1.jpg);
    width: 100%;
    
    background-size: cover;
    -webkit-background-size:cover ;
    -moz-background-size: cover;
}
@media screen and (min-width:768px) {
    header{
        min-height: 100%;
    }
    
}

.navbar-expand-lg{
    background: transparent;
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0;
}

.navbar.nav-link{
    font-size: 13px;
    color: rgba(0, 0, 0, 0.7);
}

.nav-link{
    float: right;
}
.navbar-brand{
    color: rgba(0, 0, 0, 0.7);
}
a.btn{
    color: #fff;
}

.about-section{
    background: #f05040;
    padding: 100px 0;
    color: #fff;
}

.about-section h2{
    font-size: 30px;
}

hr.light{
    border-color: #fff;
}

.about-section p{
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 20px;
    text-align: center;
}

.services-section{
    padding: 100px 0px;
    color: #222;
    display: flex;
    flex-wrap: wrap;
    
}

.services-section .container .row{
    display: flex;
    flex-wrap: wrap;
}

.services-section hr{
    text-align: center;
    color: #f05040;
}

.services-section h2{
    font-size: 30px;
    text-align: center !important;
    
}

.services-section .fa-solid{
    color: #f05040;
    margin: 10px auto;
    font-size: 50px;
}

.services-section h3{
    margin: 10px 0px 15px;
    font-size: 24px;
}

.col-md-12{
    display:flex;
    justify-content: space-between;
    
}

.services-section .container .row{
    margin-right: 0;

}

.services-section hr{
    text-align: center !important;
}



.portfolio-box{
    display: block;
    position: relative;
    margin: 0 auto;
    
  
}

.portfolio-box .portfolio-box-caption{
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    color: #fff;
    opacity: 0;
    background: rgba(240, 95, 64, 0.9);
    transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    
}

.portfolio-box:hover .portfolio-box-caption{
    opacity: 1;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
} 

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .category{
    font-size: 15px;
    padding: 10px 0;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .name{
    font-size: 25px;
}

.container-fluid .row{
    padding: 0;
}

.col-md-4{
    padding: 0;
}

.more-portfolio{
    padding: 50px 0;
    background: #373737;
    text-align: center;
    color: #fff;
}

.more-portfolio h2{
    font-size: 25px;
    margin: 25px 0 40px;
}

.contact-section{
    width: 100%;
    float: right;
    text-align: center;
    padding: 100px 0;
    color: #222;
}

.contact-section h2{
    text-align: center;
    font-size: 30px;

}
hr{
    color: #f05040;
}

.contact-section p{
    text-align: center;

}

.contact-section i{
    color: #f05040;
    font-size: 25px;
}

.contact-section span{
    display: block;
}

@media screen and(max-width:721px) {
    .header-content{
        padding: 0;
    }
    
}

.header-content h1{
    font-size: 35px;
    padding: 70px ;
    margin-bottom: 0px;
}

.header-content p{
    font-size: 16px;
    margin-bottom: 50px;
    line-height: 40px;
    color: #fdfdfd;
    text-align: center;
    padding: 15px 70px;
}

.header-content hr{
    text-align: center;
    padding: 25px;
    margin-top: 0;
}
.header-content .btn{
    margin-bottom: 20px;
    background: #f05040;
    border-radius: 25px;
    color: #fdfdfd;
    font-size: 15px;
}




